{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Story 7 Annisya Rizkia Ifani</title>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'jsfile.js' %}"></script>
    
</head>

<body>
<div class="row">
	<div class="main">
		<center>
			<h2 style="text-align:center; font-family: Alef; font-size: 50px; width: 50%; height: 30%;"><strong>annisya.</strong></h2>
			<br>
			<h1 style="font-family: serif; font-size: 30px; padding: 30px; width: 80%;">I'm a Information Systems student, who loves coffee and travelling so much. I’m also optimistic person that always believe in my dream and really hard to break down.</h1>
			<br>
			<h2 style="text-align:center; font-family: Alef; font-style: italic; font-size: 30px; width: 80%; height: 30%;"><strong>Dont Let Your Dreams be Dreams.</strong></h2>
			<br><br>
			<h1 style="text-align:center; font-size: 30px; width: 80%;">Change the theme:</h1>
	    	<button id = "buttonlight" class="button">Light Mode</button>
	    	<button id = "buttondark" class="button">Dark Mode</button>

    	    <br><br><br><br>
 			<h2 style="text-align:center; font-family: serif; font-size: 40px; width: 50%;">About Me:</h2>
 			<div id="accordion">
	  			<h3 id = "aktivitas" class="section" style="font-size: 28px;">Activity</h3>
				  	<div style="font-size: 20px;">
					    <p>1. Sibuk dikerjain oleh tugas.</p>
						<p>2. Sibuk ngurusin kontingen.</p>
					    <p>3. Sibuk persiapan BETIS 2020.</p>
				  </div>	
			  	<h3 id = "pengalaman" class="section" style="font-size: 28px;">Experience</h3>
					 <div style="font-size: 20px;">
					    <p>1. BEM Fasilkom 2019</p>
					    <P>2. FNB Compfest 11</P>
					    <p>3. PJ Mentor dan Peserta BETIS 2020</p>
					</div>	
				<h3 id = "prestasi" class="section" style="font-size: 28px;">Achievement</h3>	
					<div style="font-size: 20px;">
					    <p>1. Juara Umum Cerdas Cermat Matematika</p>
					    <p>2. Juara 2 Cerdas Cermat Umum Agama</p>
					    <p>3. Juara Tim Favorit Industriall Challenge Goes To School</p>
					</div>	
 			</div>
 			<br><br><br><br>
		</center>
	</div>
</div>
<div class="row">
	<div class="main">
		<center>
		<h2 style="text-align:center; font-family: Alef; font-size: 30px; width: 50%; height: 30%;">Thank you</h2>
		<h2 style="text-align:center; font-family: Alef; font-size: 30px; width: 50%; height: 30%;">and</h2>
		<h2 style="text-align:center; font-family: Alef; font-size: 30px; width: 50%; height: 30%;">see YAAA!!</h2>
		</center>
	</div>
</div>
</body>
</html>

  			
    	
		

