  body {
    margin: 0;
    overflow-x: hidden;
  }

  /* Column container */
  .row {  
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
  }

  @media (max-width: 100px) {
    .row, {   
      /*padding: 15px;*/
      flex-direction: column;
    }
  }
  .main {
    flex: 100%;
    background-color: white;
    padding: 20px;
  }
 .button {
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: #FAEBD7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .button:hover {
    background-color: #FA8072
  }

  .button:active {
    background-color: #FA8072;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .section {
    background-color: #E9967A;
    color: #000;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
  }
  #accordion{
    width:80%;
    height:320px;
    padding-top:30px;
  }

